{% extends 'testworkapp/base.html' %}
{% load static %}


{% block addstyle %}
    <link rel="stylesheet" href="{% static 'CSS/form.css' %}">
{% endblock %}


{% block main %}
      <div class="addnews">
                <form action="#" method="post" class="addnews_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <label for="name_article">Введите имя статьи</label>
                        {{ form.title }}
                    </div>
                    <div>
                        <label for="text_article">Введите текст статьи</label>
                        {{ form.desc }}
                    </div>
                    <div>
                        <label for="img_article" >Добавить изображение</label>
                        {{ form.img }}
                    </div>
                    <div class="div-addnews_form-btn">
                        <button type="submit" class="addnews_form-btn">Добавить новость</button>
                    </div>
                    {{ error }}
                </form>
      </div>
{% endblock %}