{% extends 'testworkapp/base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block main %}

    <div class="news">
                <div class="news_item">
                    <div class="news_item-img">
                        <img src="IMG/kalmar.jpg" alt="#">
                    </div>
                    <div class="news_item-text">
                        <div class="text_name">
                            <div class="text_name-item">
                                MyFirst news
                            </div>
                        </div>
                        <div class="text_desc">
                            <div class="text_desc-item">
                                This text about my first news.
                            </div>
                        </div>
                        <div class="text_date">
                            <div class="text_date-item">
                                22-01-22
                            </div>
                        </div>
                        <div class="text_views">
                            <div class="text_views-item">
                                2
                                <span> просмотра(ов)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news_item">
                    <div class="news_item-img">
                        <img src="IMG/simp.jpg" alt="#">
                    </div>
                    <div class="news_item-text">
                        <div class="text_name">
                            <div class="text_name-item">
                                MySecond news
                            </div>
                        </div>
                        <div class="text_desc">
                            <div class="text_desc-item">
                                This text about my second news.
                            </div>
                        </div>
                        <div class="text_date">
                            <div class="text_date-item">
                                22-01-22
                            </div>
                        </div>
                        <div class="text_views">
                            <div class="text_views-item">
                                1
                                <span> просмотра(ов)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}