{% extends 'testworkapp/base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block main %}
    <div class="news">
    {% for el in news %}
         <div class="news_item" id="{{ el.id }}">
                    <div class="news_item-img">
                        <img src="{{ el.img.url }}" alt="#">
                    </div>
                    <div class="news_item-text">
                        <div>
                            <a href="shownews/{{ el.id }}">
                                <button>Показать новость</button>
                            </a>
                        </div>
                        <div class="text_name">
                            <div class="text_name-item">
                                {{ el.title}}
                            </div>
                        </div>
                        <div class="text_desc">
                            <div class="text_desc-item">
                                {{ el.desc}}
                            </div>
                        </div>
                        <div class="text_date">
                            <div class="text_date-item">
                                {{ el.date }}
                            </div>
                        </div>
                        <div class="text_views">
                            <div class="text_views-item">
                                {{ el.views }}
                                <span> просмотра(ов)</span>
                            </div>
                        </div>
                        <div>
                            <a href="edit/{{ el.id }}"><button type="submit">Редактировать</button></a>
                        </div>

                    </div>
                </div>
    {% endfor %}
    </div>


{% endblock %}